p{
    color: purple;
    background-color: plum;

}

a{
    color: peru;
}
a:hover {
    color: hotpink;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:nth-child(even){
    background-color: paleturquoise;
}

tr:nth-child(odd){
    background-color: palegreen;
}

input:focus{
    background-color: darkgrey;
    color: lightpink
}